## Soal UTS

In [56]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

In [57]:
import json

company_detail_list.sort(key=lambda x: x["name"], reverse=True)

output = "[" + ", ".join(json.dumps({"name": company["name"]}, indent=4) for company in company_detail_list) + "]"
print(output)

[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

In [58]:
company_detail_list.sort(key=lambda x: x["name"])

for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

In [59]:
import json
print(json.dumps(employees, indent=4))

{
    "Retail": [
        "John Doe",
        "Robert White",
        "Ying Han Tan"
    ],
    "Technology": [
        "Tom Smith",
        "Rubby Lee"
    ],
    "Healthcare": [
        "Kenneth Ng",
        "Andrew Sebastian"
    ]
}

## Task 4 ##

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

In [60]:
def merge_employee_company_data(employee_list, company_list):
    company_dict = {company['name']: company['country'] for company in company_list}
    
    result = []
    for employee in employee_list:
        company_name = employee['company']
        if company_name in company_dict:
            result.append({
                "full_name": employee['full_name'],
                "company": company_name,
                "country": company_dict[company_name]
            })
    
    return result

merged_data = merge_employee_company_data(employee_detail_list, company_detail_list)

import json
print(json.dumps(merged_data, indent=4))

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Ying Han Tan",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Kenneth Ng",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Rubby Lee",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Robert White",
        "company": "Company 1",
        "country": "United States"
    }
]

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

In [61]:
def get_company_nationalities(company_list, employee_list):
    company_dict = {company['name']: {'company': company['name'], 'employee_nationality': {}} for company in company_list}
    
    for employee in employee_list:
        company_name = employee['company']
        nationality = employee['nationality']
        
        if nationality in company_dict[company_name]['employee_nationality']:
            company_dict[company_name]['employee_nationality'][nationality] += 1
        else:
            company_dict[company_name]['employee_nationality'][nationality] = 1

    return list(company_dict.values())

result = get_company_nationalities(company_detail_list, employee_detail_list)

import json
print(json.dumps(result, indent=4))

[
    {
        "company": "Company 1",
        "employee_nationality": {
            "Australia": 2,
            "United Kingdom": 1
        }
    },
    {
        "company": "Company 2",
        "employee_nationality": {
            "United States": 1,
            "Hong Kong": 1
        }
    },
    {
        "company": "Company 3",
        "employee_nationality": {
            "United States": 2
        }
    }
]